<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}CEDE - Fluxo de Caixa{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
	                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">CEDE - Fluxo de Caixa</a>
	      <div class="nav-collapse">
	        <ul class="nav pull-right">
	          <li><a href="/admin"><i class="icon-cog"></i> Admin</a>
	          </li>
	        </ul>
	      </div>
	      <!--/.nav-collapse -->
	    </div>
	    <!-- /container -->
	  </div>
	  <!-- /navbar-inner -->
	</div>
	<!-- /navbar -->
	<div class="subnavbar">
	  <div class="subnavbar-inner">
	    <div class="container">
	      <ul class="mainnav">
	        <li><a href="{% url 'cashflow:index' %}"><i class="icon-list-alt"></i><span>Transações</span> </a> </li>
	        <li><a href="{% url 'cashflow:transaction_new' %}"><i class="icon-plus"></i><span>Adicionar</span> </a> </li>
					<li><a href="{% url 'cashflow:person_list' %}"><i class="icon-user"></i><span>Frequentadores</span> </a> </li>
	      </ul>
	    </div>
	    <!-- /container -->
	  </div>
	  <!-- /subnavbar-inner -->
	</div>
	<!-- /subnavbar -->

	<div class="main">
	  <div class="main-inner">
	    <div class="container">
	      <div class="row">
		    {% block content %}
		    {% endblock %}
		  </div>
		  <!-- /row -->
	    </div>
	    <!-- /container -->
	  </div>
	  <!-- /main-inner -->
	</div>
	<!-- /main -->
	<div class="footer">
	  <div class="footer-inner">
	    <div class="container">
	      <div class="row">
	        <div class="span12"> &copy; 2013 <a href="http://www.egrappler.com/">Bootstrap Responsive Admin Template</a>. </div>
	        <!-- /span12 -->
	      </div>
	      <!-- /row -->
	    </div>
	    <!-- /container -->
	  </div>
	  <!-- /footer-inner -->
	</div>
	<!-- /footer -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>
