{% extends 'cashflow/base.html' %}

{% block content %}
<div class="span12">
	<div class="widget">
		<div class="widget-header">
			<i class="icon-th-large"></i>
			<h3>Adicionar Transação</h3>
		</div>
		<div class="widget-content">
      <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default">Salvar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

function update_item_value() {
	var id_item = $(this).val();
	var url = "{% url 'cashflow:item_get_value' pk=0 %}".replace("0", id_item);
	$.ajax({
		url: url,
		dataType: 'json',
		success: function (data) {
			if (data.value) {
				$("#id_item_value").val( data.value );
				update_total();
			}
		}
	});

}

function update_total() {
	$("#id_total").val( $("#id_item_value").val() * $("#id_amount").val() );
}

$("#id_amount").change(update_total);
$("#id_item_value").change(update_total);
$("#id_item").change(update_item_value);
$('.datepicker').daterangepicker({
	singleDatePicker: true,
	//autoUpdateInput: false,
	locale:	{
		format: 'DD/MM/YYYY'
	}
});

</script>
{% endblock %}
